@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Raleway;
    outline: none;
}


@font-face {
    font-family: 'Anastasia';
    src: url('/font/ANASTAS.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.menu {
    nav {
        background: #FCF1DB;

        .main {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            height: 6.375rem;

            .left {
                img {
                    max-height: 78px;
                    height: 100%;
                }
            }

            .right {
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    li {
                        margin: 0 .5rem;
                        margin-top: 1.3rem;

                        a {
                            padding: .5rem;
                            color: #1A1A1A;
                            font-family: Anastasia;
                            font-size: 1.5rem;
                            font-style: normal;
                            font-weight: 5;
                            line-height: normal;
                            letter-spacing: 0.44px;
                            text-decoration: none;
                        }
                    }
                }

                #nav_close {
                    display: none;
                }
            }

            #nav_bar {
                display: none;
                font-size: 1.5rem;
                color: #822E1B;
                cursor: pointer;
            }


        }

        @media screen and (max-width: 768px) {
            .main {
                .right {
                    display: none;

                    #nav_close {
                        font-size: 1.5rem;
                        position: absolute;
                        position: fixed;
                        color: #822E1B;
                        top: 2rem;
                        left: 12rem;
                        z-index: 999;
                        cursor: pointer;
                        display: block;
                    }
                }

                .nav_mobile {
                    display: block;
                    overflow: hidden;

                    ul {
                        z-index: 99;
                        max-width: 15rem;
                        width: 100%;
                        height: 100vh;
                        background-color: #FCF1DB;
                        /* display: unset; */
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        position: absolute;
                        position: fixed;
                        top: 0;
                        left: 0;


                        li {
                            padding: 1rem 0rem;
                            padding-right: 4rem;

                            a {
                                padding: .5rem;
                                color: #1A1A1A;
                                font-family: Anastasia;
                                font-size: 1.5rem;
                                font-style: normal;
                                font-weight: 5;
                                line-height: normal;
                                letter-spacing: 0.44px;
                                text-decoration: none;
                            }
                        }

                    }


                }

                #nav_bar {
                    display: block;
                }
            }
        }
    }

    .menu_pg1 {
        background: url(../Assets/Drinks/DrinkBg.png) center;
        background-size: cover;
        margin-bottom: 2rem;

        .main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-height: 18.75rem;

            h1 {
                color: #FCF1DB;
                font-family: Raleway;
                font-size: 3rem;
                text-transform: uppercase;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                letter-spacing: 0.06rem;
            }

            p {
                max-width: 36.75rem;
                padding: 1rem 1rem 0rem 1rem;
                width: 100%;
                color: #FCF1DB;
                text-align: center;
                font-family: Raleway;
                font-size: 1.3125rem;
                font-style: normal;
                font-weight: 600;
                line-height: 1.75rem;
                letter-spacing: 0.02625rem;
            }
        }
    }

    .menu_pg2 {
        padding: 12vmin 0;

        h1 {
            color: #822E1B;
            font-family: Raleway;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: 0.05rem;
            text-align: center;
        }

        #menu_card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 4rem 5vmin;
            gap: 2rem;

            .menu_card {
                border-radius: 2.03025rem;
                border: 1.805px solid #822E1B;
                width: 21.562rem;
                min-height: 30.4375rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 1.2rem;
                padding: 1rem 0;


                .drink_height {
                    height: 232px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        max-width: 4.05925rem;
                        width: 100%;
                    }

                }



                h2 {
                    color: #822E1B;
                    font-family: Raleway;
                    font-size: 1.75rem;
                    font-style: normal;
                    font-weight: 700;
                    text-align: center;
                    padding-top: .5rem;
                    line-height: normal;
                    letter-spacing: 0.035rem;
                }

                p {
                    color: #822E1B;
                    font-family: Raleway;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.125rem;
                    letter-spacing: 0.0175rem;
                    max-width: 17.1875rem;
                    text-align: center;
                    width: 100%;
                }

                h3 {
                    color: #822E1B;
                    font-family: Raleway;
                    font-size: 1.5625rem;
                    font-style: normal;
                    font-weight: 700;
                    letter-spacing: 0.03125rem;
                }
            }
            @media screen and (max-width: 400px) {
                .menu_card {
                    width: 18.562rem;
                }
            }
        }

        @media screen and (max-width: 600px) {
            #menu_card {
                padding: unset;
                padding: 2rem 0;
            }
        }
    }


    .footer {
        background: #FCF1DB;
        padding: 10vmin 0 3vmin 0;

        .main {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 1rem;

            .links {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding: 1rem 2rem;

                img {
                    max-width: 12.05769rem;
                    width: 100%;
                }

                p {
                    color: #1A1A1A;
                    font-family: Raleway;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.375rem;
                    letter-spacing: 0.02rem;
                    text-transform: capitalize;
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    i {
                        color: #822E1B;
                        font-size: 1.5rem;
                    }
                }

                a {
                    color: #1A1A1A;
                    font-family: Raleway;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.375rem;
                    letter-spacing: 0.02rem;
                    text-transform: capitalize;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    i {
                        color: #822E1B;
                        font-size: 1.5rem;
                    }
                }

                .footer_links {
                    display: flex;

                    a {
                        i {
                            padding: 1rem;
                            font-size: 1.5rem;
                            border-radius: 7px;
                            background-color: #822E1B;
                            margin: .4rem;
                            color: #FFF;
                        }
                    }
                }
            }

            @media screen and (max-width: 400px) {
                .links {
                    padding: unset;
                    padding: 1rem 0;
                }
            }

            .home {
                padding: 1rem 2rem;
                display: flex;
                flex-direction: column;

                h1 {
                    color: #822E1B;
                    padding-bottom: 2rem;
                    font-family: Anastasia;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 5;
                    line-height: normal;
                    letter-spacing: 0.04rem;
                    text-transform: uppercase;
                    text-align: unset;
                }

                ul {
                    padding-left: 0;
                    margin-left: 0;

                    li {
                        padding: .3rem 0;

                        a {
                            color: #1A1A1A;
                            font-family: Raleway;
                            font-size: 1rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.02rem;
                            text-transform: capitalize;
                            text-decoration: none;
                        }
                    }
                }
            }

            @media screen and (max-width: 400px) {
                .home {
                    padding: unset;
                    padding: 1rem 0;
                }
            }

            .timing {
                padding: 1rem 0rem;

                h1 {
                    color: #822E1B;
                    font-family: Anastasia;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 5;
                    line-height: normal;
                    padding-left: 1.8rem;
                    letter-spacing: 0.04rem;
                    text-transform: uppercase;
                    padding-bottom: 2rem;
                }

                ul {
                    li {
                        color: #1A1A1A;
                        font-family: Raleway;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 0.84375rem;
                        letter-spacing: 0.02rem;
                        text-transform: capitalize;
                        padding: .6rem 0;
                    }
                }
            }

            @media screen and (max-width: 400px) {
                .timing {

                    h1 {
                        padding-left: unset;
                    }

                    ul {
                        padding-left: unset;
                    }
                }
            }

            .partners {
                padding: 1rem 2rem;

                h1 {
                    color: #822E1B;
                    font-family: Anastasia;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 5;
                    line-height: normal;
                    letter-spacing: 0.04rem;
                    text-transform: uppercase;
                    padding-bottom: 2rem;
                }

                .partner_img {
                    display: flex;
                    gap: 1rem;

                    img {
                        width: 5.4375rem;
                        height: 5.4375rem;
                    }
                }
            }

            @media screen and (max-width: 400px) {
                .partners {
                    padding: unset;
                    padding: 1rem 0;
                }
            }
        }

        .footer_bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            hr {
                color: #822E1B;
                width: 92%;
                border: .13rem solid #822E1B;
            }

            p {
                padding-top: 2vmin;
                color: #1A1A1A;
                font-family: Raleway;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.0175rem;
                text-transform: uppercase;
                padding: 0 1rem;
                text-align: center;

                span {
                    color: #822E1B;
                    font-family: Raleway;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.0175rem;
                    text-transform: uppercase;

                    span {
                        color: #822E1B;
                        font-family: Raleway;
                        font-size: 0.875rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.0175rem;
                        text-transform: uppercase;
                    }

                }
            }
        }

        @media screen and (max-width: 600px) {
            .main {
                display: flex;
                justify-content: unset;
                padding: 2rem;
                flex-wrap: wrap;
                gap: 1rem;
            }

            .footer_bottom {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                hr {
                    color: #822E1B;
                    width: 92%;
                    border: .13rem solid #822E1B;
                }

                p {
                    padding-top: 2vmin;
                    color: #1A1A1A;
                    font-family: Raleway;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.0175rem;
                    text-transform: uppercase;
                    padding: 0 1rem;
                    text-align: center;

                    span {
                        color: #822E1B;
                        font-family: Raleway;
                        font-size: 0.875rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.0175rem;
                        text-transform: uppercase;

                        span {
                            color: #822E1B;
                            font-family: Raleway;
                            font-size: 0.875rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            letter-spacing: 0.0175rem;
                            text-transform: uppercase;
                        }

                    }
                }
            }
        }
    }

}