@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    outline: none;
}


@font-face {
    font-family: 'Anastasia';
    src: url('/font/ANASTAS.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}


header {
    overflow: hidden;

    nav {
        background: #FCF1DB;

        .main {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            height: 6.375rem;

            .left {
                img {
                    max-height: 78px;
                    height: 100%;
                }
            }

            .right {
                ul {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .resImgNav {
                        display: none;
                    }

                    li {
                        margin: 0 .5rem;
                        margin-top: 1.3rem;
                        display: flex;
                        justify-content: center;

                        &:nth-child(2)::before {
                            content: '';
                            width: 3.5rem;
                            height: 2px;
                            display: block;
                            background-color: #000;
                            position: absolute;
                            bottom: 0px;
                            transition: 200ms all;
                        }

                        a {
                            padding: .5rem;
                            color: #1A1A1A;
                            font-family: Anastasia;
                            font-size: 1.5rem;
                            font-style: normal;
                            font-weight: 5;
                            line-height: normal;
                            letter-spacing: 0.44px;
                            text-decoration: none;
                            justify-content: center;
                            align-items: center;
                            display: flex;

                            &::before {
                                content: '';
                                width: 0rem;
                                height: 2px;
                                display: block;
                                background-color: #000;
                                position: absolute;
                                bottom: 0px;
                                transition: 200ms all;
                            }

                            &:hover::before {
                                width: 3.5rem;
                            }

                            &:active {
                                color: #1a1a1a56;
                            }
                        }
                    }
                }

                #nav_close {
                    display: none;
                }
            }

            #nav_bar {
                display: none;
                font-size: 1.5rem;
                color: #822E1B;
                cursor: pointer;
            }


        }

        @media screen and (max-width: 768px) {
            .main {
                .right {
                    display: none;

                    #nav_close {
                        font-size: 1.5rem;
                        position: absolute;
                        position: fixed;
                        color: #822E1B;
                        top: 2rem;
                        left: 12rem;
                        z-index: 999;
                        cursor: pointer;
                        display: block;
                    }
                }

                .nav_mobile {
                    display: block;
                    overflow: hidden;

                    ul {
                        z-index: 99;
                        max-width: 15rem;
                        width: 100%;
                        height: 100vh;
                        background-color: #FCF1DB;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        position: absolute;
                        position: fixed;
                        top: 0;
                        left: 0;
                        padding-left: unset;

                        .resImgNav {
                            display: block;
                        }

                        img {
                            margin-bottom: 1.5rem;
                            height: 5rem;
                        }

                        li {
                            padding: .5rem 0rem;
                            width: 100%;
                            transition: 300ms all;
                            margin-top: unset;

                            #navHome {
                                background-color: #f5dba7;
                            }


                            a {
                                width: 100%;
                                padding: 1rem .5rem;
                                color: #1A1A1A;
                                font-family: Anastasia;
                                font-size: 1.5rem;
                                font-style: normal;
                                font-weight: 5;
                                line-height: normal;
                                letter-spacing: 0.44px;
                                text-decoration: none;
                                transition: 300ms all;

                                &:hover {
                                    background-color: #f5dba7;
                                }

                                &:hover::before {
                                    width: 0;
                                }

                            }
                        }

                    }


                }

                #nav_bar {
                    display: block;
                }
            }
        }
    }

    .carousel-item {
        img {
            height: calc(100vh - 6.375rem);
        }

        p {
            color: #FFF;
            text-align: center;
            font-family: Raleway;
            font-size: 1.5625rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2.125rem;
            letter-spacing: 0.03125rem;
            text-align: center;
        }

        .ca_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin: 1.5rem 0;
            margin-bottom: 5vmin;

            a {
                max-width: 190px;
                width: 100%;
                text-decoration: none;

                button {
                    border: none;
                    max-width: 190px;
                    width: 100%;
                    height: 3.25rem;
                    padding: 0.3125rem 2.25rem;
                    color: #822E1B;
                    font-family: Raleway;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    letter-spacing: 0.025rem;
                    transition: 200ms all;
                    border: 2px solid #FFF;

                    &:hover {
                        background-color: transparent;
                        color: #FFF;
                    }
                }
            }

        }
    }

    @media screen and (max-width: 768px) {
        .carousel-item {
            img {
                height: unset;
            }
        }
    }


}

.page2 {
    padding: 14vmin 5vmin;

    @media screen and (max-width: 460px) {
        padding: 14vmin 2vmin;

    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5vmin;

        img {
            max-width: 20.07594rem;
            width: 100%;
        }

        @media screen and (max-width: 460px) {

            img {
                max-width: 15.07594rem;
            }

        }

        .pg2_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;
            width: 100%;

            a {
                max-width: 190px;
                width: 100%;

                button {
                    height: 3.25rem;
                    max-width: 190px;
                    width: 100%;
                    color: #FCF1DB;
                    font-family: Raleway;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    letter-spacing: 0.025rem;
                    background: #822E1B;
                    border: none;
                    padding: 0.3125rem 2.25rem;
                    justify-content: center;
                    align-items: center;
                    gap: 0.625rem;
                    border: 2px solid #822E1B;
                    transition: 200ms all;

                    &:hover {
                        background-color: transparent;
                        color: #822E1B;
                    }
                }
            }


        }

        @media screen and (max-width: 700px) {
            .pg2_btn {
                padding: 3rem 0;
            }
        }

        @media screen and (max-width: 460px) {
            .pg2_btn {
                a {
                    max-width: 150px;

                    button {
                        height: 3.15rem;
                        max-width: 150px;
                        font-size: 1rem;
                        padding: unset;
                    }
                }
            }
        }

        p {
            color: #1A1A1A;
            text-align: center;
            font-family: Raleway;
            font-size: 1.375rem;
            font-style: normal;
            font-weight: 500;
            line-height: 2.0625rem;
            letter-spacing: 0.0275rem;
            max-width: 67.1875rem;
            width: 100%;
            text-align: center;
        }
    }
}

.page3 {
    background: linear-gradient(rgba(0, 0, 0, 0.166), rgba(0, 0, 0, 0.235)), url(../Assets/home-pg3-bg.png) center;
    background-size: cover;
    min-height: 46.25rem;
    position: relative;
    margin: 0 0 15vmin 0;
    @media screen and (max-width: 600px) {
        background: linear-gradient(rgba(0, 0, 0, 0.592), rgba(0, 0, 0, 0.507)), url(../Assets/home-pg3-bg.png) center;
        background-size: cover;
    }

    .pg3_btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        bottom: 13vmin;
        left: 5vmin;
        gap: 1rem;
        max-width: 700px;
        width: 100%;
        padding: 0 2vmin;

        a {
            max-width: 190px;
            width: 100%;
            text-decoration: none;

            button {
                display: flex;
                max-width: 190px;
                width: 100%;
                height: 3.25rem;
                padding: 0.3125rem 2.25rem;
                justify-content: center;
                align-items: center;
                gap: 0.625rem;
                border: 2px solid #FCF1DB;
                background-color: transparent;
                color: #FFF;
                font-family: Raleway;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                letter-spacing: 0.025rem;
                transition: 200ms all;

                &:hover {
                    background-color: #FCF1DB;
                    color: #000000c7;
                }
            }
        }

        @media screen and (max-width: 480px) {
            a {
                max-width: 150px;
                

                button {
                    max-width: 150px;
                    height: 3.15rem;
                    padding: unset;
                    font-size: 1.10rem;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        min-height: unset;
        height: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .pg3_btn {
            position: unset;
        }
    }
}

.page4 {
    padding-bottom: 15vmin;

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            color: #822E1B;
            font-family: Raleway;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            padding-bottom: 2rem;
            text-align: center;
        }

        .content {
            .main {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: unset;

                .left,
                .right {
                    padding: 0 .7rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    img {
                        max-width: 50rem;
                        width: 100%;
                    }

                    h1 {
                        color: #822E1B;
                        padding-top: .5rem;
                        text-align: unset;
                        font-family: Raleway;
                        font-size: 2.25rem;
                        font-style: normal;
                        font-weight: 800;
                        line-height: normal;
                        padding-bottom: unset;

                    }

                    p {
                        color: #1A1A1A;
                        font-family: Raleway;
                        font-size: 1.125rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.5625rem;
                        letter-spacing: 0.0225rem;
                        max-width: 41.4375rem;
                        width: 100%;
                    }

                    button {
                        display: flex;
                        width: 14.0625rem;
                        background: #822E1B;
                        height: 3rem;
                        padding: 0.3125rem 2.25rem;
                        justify-content: center;
                        align-items: center;
                        gap: 0.625rem;
                        color: #FCF1DB;
                        font-family: Raleway;
                        font-size: 1.125rem;
                        font-style: normal;
                        font-weight: 800;
                        line-height: normal;
                        letter-spacing: 0.0225rem;
                        border: none;
                        border: 2px solid #822E1B;
                        transition: 200ms all;

                        &:hover {
                            background-color: transparent;
                            color: #822E1B;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .main {
            .content {
                .main {
                    flex-wrap: wrap;

                    .left,
                    .right {
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
}

.footer {
    background: #FCF1DB;
    padding: 10vmin 0 3vmin 0;

    .main {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1rem;

        .links {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 1rem 2rem;

            img {
                max-width: 12.05769rem;
                width: 100%;
            }

            p {
                color: #1A1A1A;
                font-family: Raleway;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                letter-spacing: 0.02rem;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-bottom: unset;

                i {
                    color: #822E1B;
                    font-size: 1.5rem;
                }
            }

            a {
                color: #1A1A1A;
                font-family: Raleway;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.375rem;
                letter-spacing: 0.02rem;
                text-transform: capitalize;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 1rem;

                i {
                    color: #822E1B;
                    font-size: 1.5rem;
                }
            }

            .footer_links {
                display: flex;

                a {
                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 3.3rem;
                        height: 3.3rem;
                        font-size: 1.5rem;
                        border-radius: 7px;
                        background-color: #822E1B;
                        margin: .4rem;
                        color: #FFF;
                    }
                }
            }
        }

        @media screen and (max-width: 400px) {
            .links {
                padding: unset;
                padding: 1rem 0;
            }
        }

        .home {
            padding: 1rem 2rem;
            display: flex;
            flex-direction: column;

            h1 {
                color: #822E1B;
                padding-bottom: 2rem;
                font-family: Anastasia;
                font-size: 2rem;
                font-style: normal;
                font-weight: 5;
                line-height: normal;
                letter-spacing: 0.04rem;
                text-transform: uppercase;
                text-align: unset;
            }

            ul {
                padding-left: 0;
                margin-left: 0;

                li {
                    padding: .3rem 0;

                    a {
                        color: #1A1A1A;
                        font-family: Raleway;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.02rem;
                        text-transform: capitalize;
                        text-decoration: none;
                    }
                }
            }
        }

        @media screen and (max-width: 400px) {
            .home {
                padding: unset;
                padding: 1rem 0;
            }
        }

        .timing {
            padding: 1rem 0rem;

            h1 {
                color: #822E1B;
                font-family: Anastasia;
                font-size: 2rem;
                font-style: normal;
                font-weight: 5;
                line-height: normal;
                padding-left: 1.8rem;
                letter-spacing: 0.04rem;
                text-transform: uppercase;
                padding-bottom: 2rem;
            }

            ul {
                li {
                    color: #1A1A1A;
                    font-family: Raleway;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 0.84375rem;
                    letter-spacing: 0.02rem;
                    text-transform: capitalize;
                    padding: .6rem 0;
                }
            }
        }

        @media screen and (max-width: 400px) {
            .timing {

                h1 {
                    padding-left: unset;
                }

                ul {
                    padding-left: unset;
                    margin-right: 2rem;
                }
            }
        }

        .partners {
            padding: 1rem 2rem;

            h1 {
                color: #822E1B;
                font-family: Anastasia;
                font-size: 2rem;
                font-style: normal;
                font-weight: 5;
                line-height: normal;
                letter-spacing: 0.04rem;
                text-transform: uppercase;
                padding-bottom: 2rem;
            }

            .partner_img {
                display: flex;
                gap: 1rem;

                img {
                    width: 5.4375rem;
                    height: 5.4375rem;
                }
            }
        }

        @media screen and (max-width: 400px) {
            .partners {
                padding: unset;
                padding: 1rem 0;
            }
        }
    }

    .footer_bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        hr {
            color: #822E1B;
            width: 92%;
            border: .13rem solid #822E1B;
        }

        p {
            padding-top: 2vmin;
            color: #1A1A1A;
            font-family: Raleway;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.0175rem;
            text-transform: uppercase;
            padding: 0 1rem;
            text-align: center;

            span {
                color: #822E1B;
                font-family: Raleway;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.0175rem;
                text-transform: uppercase;

                span {
                    color: #822E1B;
                    font-family: Raleway;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.0175rem;
                    text-transform: uppercase;
                }

            }
        }
    }

    @media screen and (max-width: 600px) {
        .main {
            display: flex;
            justify-content: unset;
            padding: 2rem;
            flex-wrap: wrap;
            gap: 1rem;
        }

        .footer_bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            hr {
                color: #822E1B;
                width: 92%;
                border: .13rem solid #822E1B;
            }

            p {
                padding-top: 2vmin;
                color: #1A1A1A;
                font-family: Raleway;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.0175rem;
                text-transform: uppercase;
                padding: 0 1rem;
                text-align: center;

                span {
                    color: #822E1B;
                    font-family: Raleway;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.0175rem;
                    text-transform: uppercase;

                    span {
                        color: #822E1B;
                        font-family: Raleway;
                        font-size: 0.875rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.0175rem;
                        text-transform: uppercase;
                    }

                }
            }
        }
    }
}